@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  min-width: 320px;
  line-height: 1;
  font-size: 14px;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27.5%;
          flex: 0 0 27.5%;
}
.header__burger {
  display: none;
}

.label__logo {
  width: 100px;
  height: 56px;
}
.label__name {
  font-size: 2.14em;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__link {
  position: relative;
  font-size: 1.2em;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__link::after {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu__link:hover {
  text-shadow: 0 1px 2px;
}
.menu__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-filter: blur(400%);
          filter: blur(400%);
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.whatsapp__logo {
  width: 56px;
  height: 56px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.whatsapp__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.whatsapp__number {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

@media (max-width: 768px) {
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 241, 236, 0.442);
    z-index: 3;
  }

  .lock {
    overflow: hidden;
  }

  .header__menu {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    right: -100vw;
    z-index: 3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-y: auto;
  }

  .header__menu.active {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__burger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 28px;
    margin-right: 3px;
    z-index: 3;
  }

  .header__burger::after,
.header__burger::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 1px;
    background: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger::before {
    top: 0px;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    display: block;
    height: 1px;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: #000;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .header__burger.active::before {
    top: 18px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    height: 1px;
  }

  .header__burger.active::after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    height: 1px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
a {
  cursor: pointer;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}

.main-screen {
  height: 100vh;
  padding: 140px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#80e9f0), color-stop(46.88%, rgba(154, 194, 224, 0.625)), color-stop(100%, rgba(196, 196, 196, 0)), to(rgba(145, 170, 206, 0)));
  background: linear-gradient(180deg, #80e9f0 0%, rgba(154, 194, 224, 0.625) 46.88%, rgba(196, 196, 196, 0) 100%, rgba(145, 170, 206, 0) 100%);
}
.main-screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-screen__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44.5%;
          flex: 0 0 44.5%;
  padding: 0 0 47.25% 0;
  -webkit-filter: drop-shadow(1px 1px 75px rgba(255, 210, 94, 0.65));
          filter: drop-shadow(1px 1px 75px rgba(255, 210, 94, 0.65));
}

.offer {
  max-width: 358px;
}
.offer__title {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0 0 20px 0;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}
.offer__text {
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0 0 36px 0;
}
.offer__list {
  padding: 0 0 0 20px;
}
.offer__list li {
  position: relative;
}
.offer__list li::before {
  content: "";
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -15px;
  top: 9px;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}
.offer__button {
  position: relative;
  display: block;
  text-align: center;
  width: 225px;
  height: 70px;
  background: linear-gradient(274.36deg, #ffef5e 0%, rgba(255, 229, 112, 0.810938) 58.07%, rgba(254, 203, 157, 0.34) 98.67%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 1.5em;
  line-height: 69px;
  font-weight: 700;
  color: #000;
  overflow: hidden;
}
.offer__button:hover {
  background: linear-gradient(274.36deg, #cc5eff 0%, rgba(162, 112, 255, 0.811) 58.07%, rgba(254, 203, 157, 0.34) 98.67%);
}
.offer__button:focus {
  outline: none;
}

.offer__button .circle {
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-animation: scale 0.5s ease-out;
          animation: scale 0.5s ease-out;
}

.offer__button:focus {
  outline: none;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
@media (orientation: portrait) {
  .main-screen {
    max-height: 800px;
  }
}
@media (min-width: 1600px) {
  .main-screen {
    max-height: 900px;
  }
}